<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="root">
        <p>姓:<input type="text" v-model:value="name"></p>
        <div>名:<input v-model="sex" /></div>
        <div>全名: <input v-model="fuliName" @input=" handleChangeInput"></div>
        <div>{{handleFulIName()}}</div>
        <!-- <div>{{handleFulIName()}}</div>
        <div>{{handleFulIName()}}</div>
        <div>{{handleFulIName()}}</div>
        <div>{{handleFulIName()}}</div> -->
    </div>
</body>
<script>
    new Vue({
        el: '#root',
        data: {
            name: '张三',
            sex: '啊'
        },
        methods: {
            handleFulIName() {
                console.log("我是函数调用");
                this.fuliName = this.name + '-' + this.sex
                return this.name + '_' + this.sex
            }
        },
    })
</script>
<!-- <script>
    new Vue({
        el: '#root',
        data: {
            name: '张三',
            sex: '啊'
        },
        methods: {
            handleFulIName() {
                console.log("我是函数调用");
                this.fuliName = this.name + '-' + this.sex
                return this.name + '_' + this.sex
            }
        },
    })
</script> -->
<!-- <script>
    new Vue({
        el: '#root',
        data: {
            name: '张三',
            sex: '啊'
        },
        methods: {
            handleFulIName() {
                console.log("我是函数调用");
                this.fuliName = this.name + '-' + this.sex
                return this.name + '_' + this.sex
            }
        },
    })
</script> -->
</html>